.hidden {
    position: absolute;
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --black: black;
    --white: white;
    --primary-color: #973030;

    --primary-padding: 10px 0;

    --primary-text-color: white;

    --button-color: white;
    --button-hover: rgb(226, 226, 226);
    --button-active: rgb(155, 155, 155);
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

[type="button"]:focus-visible {
    outline: none;
}

.page {
    height: 100%;
    min-width: 300px;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white);
}

.page__wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1700px;
    padding: 0 50px;
    margin: 0 auto;
}

.list,
.list-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 0;
    margin: 0;
    list-style: none;
}

.text {
    margin: 0;
}

.text--white {
    color: var(--primary-text-color);
}

.text--client {
    display: block;
    color: var(--primary-color);
}

.link {
    text-decoration: none;
    margin: 0;
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
}

.button {
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.button--primary {
    padding: 8px 10px;
    border-radius: 8px;

    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--primary-color);

    background-color: var(--button-color);
    transition: background-color 0.2s ease-in-out;
}

.button--primary:hover {
    background-color: var(--button-hover);
}

.button--primary:active {
    background-color: var(--button-active);
}

.button--secondary {
    padding: 5px 10px;
    border-radius: 8px;

    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: white;

    background-color: var(--primary-color);
    transition: background-color 0.2s ease-in-out;
}

.button--secondary:hover {
    background-color: rgb(206, 15, 15);
    ;
}

.button--secondary:active {
    background-color: red;
}

.button--delete,
.button--edit {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
}

.button--delete {
    top: 10px;
}

.button--edit {
    top: 40px;
}

.button__svg {
    width: 20px;
    height: 20px;
    stroke: var(--primary-color);
    transition: background-color 0.2s ease-in-out;
}

.button__svg path {
    stroke: var(--primary-color);
    transition: background-color 0.2s ease-in-out;
}

.button__svg:hover,
.button__svg:hover path {
    stroke: rgb(206, 15, 15);
}

.button:active .button__svg,
.button:active .button__svg path {
    stroke: red;
}

.client-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: bisque;
    gap: 5px;
}

.clients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 1024px) {
    .clients {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .clients {
        grid-template-columns: 1fr;
    }
}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
    padding-top: 1px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto; 
}

.form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

.input {
    background-color: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: var(--primary-color);
    outline: 1px solid var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.input--invalid {
    outline-color: red;
}

.warning-label {
    position: relative;
}

.just-validate-error-label {
    position: absolute;
    top: -17px;
    left: 5px;
    font-size: 13px;
}

.not-items-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.not-items {
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 700;
}

@media (max-width: 576px) {
    .not-items {
        font-size: 30px;
    }
}

.remove-wrapper {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.remove-wrapper--active {
    display: flex;
}

.remove-question {
    width: 320px;
    height: 150px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid var(--primary-color);
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.remove-question__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: var(--primary-color);
}

.remove-question__bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer,
.header {
    background-color: var(--primary-color);
    padding: var(--primary-padding);
}

.main {
    flex: 1 1 auto;
}

.section {
    padding: 40px 0;
}